# Built application files
*.apk
*.aar
*.ap_
*.aab

# Build directories
build/
.build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Gradle files
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# OS files
.DS_Store
Thumbs.db

# Kotlin
*.class

# Log files
*.log
